.credit-card-div  span { 
    padding-top:20px; 
}
.credit-card-div img { 
    padding-top:40px; 
}
.credit-card-div .small-font { 
    font-size:12px; 
}
.credit-card-div .pad-adjust { 
    padding-top:20px; 
}