footer {
    background-color: rgb(42, 41, 40);
    position: relative;
    bottom: 0px;
    width: 100%;
}

.carousel-item img {
    width: 700px;
    height: 500px;
}

.navbar{
    background-color: rgb(42,41,40);
    height: 60px;
}


.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: orange;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: orange;
    background-color: rgba(71, 71, 71, 0.829) ;
    border-radius: 10px;
}



.table .tbody th,
.table .tbody td
 {
    border: 1px solid #000000;
}