<!DOCTYPE html>
<html>

	<head>
		<title>Clientes-Juridicos</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/bootstrap.css">
	  	<link rel="stylesheet" href="css/bootstrap-theme.css">
	  	<link rel="stylesheet" type="text/css" href="css/estilosD.css">
	  	<link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.css">
	  	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	  	<script src="js/jquery-3.3.1.js"></script>    
		<script src="js/bootstrap.min.js"></script>
	</head>

	<body>
		<!-- Logo de la pagina -->
	    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(42,41,40);">
	        <a href="#" class="navbar-brand">
	            <img src="img/ARTESANALES.png" width="40" height="40" class="d-inline-block align-top" alt="">
	            <span style="color:white";>ACAVUCAB</span>
	        </a>

	        <!-- Navbar -->
	        <div class="collapse navbar-collapse">

	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item">
	                    <a href="#" class="nav-link">Inicio</a>
	                </li>
	                <li class="nav-item">
	                    <a href="#" class="nav-link">Misión</a>
	                </li>
	                <li class="nav-item">
	                    <a href="#" class="nav-link">¿Quiénes somos?</a>
	                </li>
	                <li class="nav-item">
	                    <a href="#" class="nav-link">Cliente</a>
	                </li>
	                <li class="nav-item active">
	                    <a class="nav-link" href="#"><img src="img/carrito.png" width="30" height="30"
	                            class="d-inline-block align-top" alt="">
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </nav>

	    <div class="container">

	   <div>
	    <div class="row text-left mt-5">
	        <div class="col-5">
	            <h2 id="Encabezado">Clientes Juridicos</h2>
	            <a href="#"class="btn btn-primary ml-2" data-toggle="modal" data-target="#userModal">Agregar</a>
	        </div>
	        <div class="col-7">
	        	 <div class="float-right">
				    <ul class="nav justify-content-center">
				        <li class="nav-item">
				            <a class="nav-link active" href="CRUD-Clientes-Juridicos.html">Clientes Juridicos</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="CRUD-Clientes-Naturales.html">Clientes naturales</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="CRUD-Proveedores.html">Proveedores</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="CRUD-Cervezas.html">Cervezas</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="CRUD-Empleados.html">Empleados</a>
				        </li>
				    </ul>
	    		</div>
	        </div>
	    </div>
	    <hr id="HR">

	    <!-- Bookmark form -->
		<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Nuevo Cliente Juridico</h4>
		      </div>
		      <div class="modal-body">

		        <!--REVISAR AQUI LOS NG MODEL-->
		        <form id="userForm">
 			    	<p>Por favor, ingresa los datos solicitados.</p>
 			    	<div class="form-group">
					  <label for="url">Denominación comercial</label>
					  <div class="input-group">
					    <input ng-model="user.PENDIENTE" id="url" class="form-control" type="url" placeholder="Ingrese la denominación comercial">
					  </div>
					</div>

					<div class="form-group">
					  <label for="url">RIF</label>
					  <div class="input-group">
					    <input ng-model="user.PENDIENTE" id="url" class="form-control" type="url" placeholder="Ingrese el RIF">
					  </div>
					</div>

					<div class="form-group">
					  <label for="url">Telefonos</label>
					  <div class="input-group">
					    <input ng-model="user.PENDIENTE" id="url" class="form-control" type="url" placeholder="Ingrese los telefons">
					  </div>
					</div>

					<div class="form-group">
					  <label for="url">Personal de contacto</label>
					  <div class="input-group">
					    <input ng-model="user.PENDIENTE" id="url" class="form-control" type="url" placeholder="Ingrese el personal de contacto">
					  </div>
					</div>

					<div class="form-group">
					  <label for="url">Correo</label>
					  <div class="input-group">
					    <input ng-model="user.PENDIENTE" id="url" class="form-control" type="url" placeholder="Ingrese el correo">
					  </div>
					</div>
					
				</form>
		
		      </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>

		<table class="table table-warning">
		    <thead class="thead">
		    <tr class="text-center">
		        <th scope="col">Razon social</th>
		        <th scope="col">Denominacion comercial</th>
		        <th scope="col">RIF</th>
		        <th scope="col">Telefonos</th>
		        <th scope="col">Personal contacto</th>
		        <th scope="col">Correo</th>
		    </tr>
		    </thead>
		    <tbody class="text-center">
		    	<tr>
			      <th scope="row">Mcdonalds</th>
			      <td>Arcos de venezuela</td>
			      <td>12435</td>
			      <td>012453</td>
			      <td>Daniel</td>
			      <td>danda@sadjnaslk</td>
			      <td> <button type="button" class="btn btn-primary">Editar</button></td>
			      <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
			    </tr>
			    <tr>
			      <th scope="row">Mcdonalds</th>
			      <td>Arcos de venezuela</td>
			      <td>12435</td>
			      <td>012453</td>
			      <td>Daniel</td>
			      <td>danda@sadjnaslk</td>
			      <td> <button type="button" class="btn btn-primary">Editar</button></td>
			      <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
			    </tr>
			    <tr>
			      <th scope="row">Mcdonalds</th>
			      <td>Arcos de venezuela</td>
			      <td>12435</td>
			      <td>012453</td>
			      <td>Daniel</td>
			      <td>danda@sadjnaslk</td>
			      <td> <button type="button" class="btn btn-primary">Editar</button></td>
			      <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
			    </tr>
			    <tr>
			      <th scope="row">Mcdonalds</th>
			      <td>Arcos de venezuela</td>
			      <td>12435</td>
			      <td>012453</td>
			      <td>Daniel</td>
			      <td>danda@sadjnaslk</td>
			      <td> <button type="button" class="btn btn-primary">Editar</button></td>
			      <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
			    </tr>
			    <tr>
			      <th scope="row">Mcdonalds</th>
			      <td>Arcos de venezuela</td>
			      <td>12435</td>
			      <td>012453</td>
			      <td>Daniel</td>
			      <td>danda@sadjnaslk</td>
			      <td> <button type="button" class="btn btn-primary">Editar</button></td>
			      <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
			    </tr>
	  		</tbody>
		</table>
	</body>
</html>